html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  box-sizing: content-box;
}
.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.content {
  flex-grow: 2;
}

.header {
  background-color: #3c1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url("./logo.png") no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.footer {
  height: 61px;
  background-color: #3c1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}
h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
}
.catalog_content {
  margin-left: 135px;
  color: #333333;
}
.catalog_content_main {
  display: flex;
  flex-direction: row;
}
#bikeList {
  display: flex;
  flex-flow: row wrap;
}
.bike {
  width: 370px;
  height: 300px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bike_image img {
  width: 250px;
  height: auto;
}
.bike_description {
  font-size: 18px;
  line-height: 26px;
}
.bike_price {
  font-size: 16px;
  line-height: 20px;
}
.rent_button {
  padding: 9px 15px;
  background: #3c1491;
  border: 1px solid #3c1491;
  color: white;
  width: 170px;
  font-size: 16px;
  line-height: 20px;
}
.pickup_points {
  width: 200px;
}
.pickup_points h4 {
  font-size: 22px;
  line-height: 30px;
  white-space: nowrap;
  margin: 25px 0px;
}
.address_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address_list a {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  text-decoration: none;
}
.active::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #3c1491;
  border-radius: 50%;
  display: block;
  position: relative;
  left: -15px;
  bottom: -18px;
}
#loadMore button {
  display: block;
  margin: 0 auto;
  width: 170px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background: #3c1491;
  border: 1px solid #3c1491;
  padding: 9px 15px;
}
.background-image {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(22, 0, 69, 0.42), rgba(22, 0, 69, 0.42)),
    url(../images/Rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.index-content {
  color: white;
}
.title {
  font-size: 48px;
  line-height: 60px;
  margin-top: 100px;
}
.text {
  margin-top: 20px;
  font-size: 18px;

  line-height: 30px;
}
.ref-block {
  margin-top: 20px;
}
.ref-block a {
  text-decoration: none;
  color: white;
  padding: 9px 15px;
  background: #3c1491;
  border: 1px solid #3c1491;
  border-radius: 1px;
}
