{{> header}}
<div class="catalog_content">
  <!--
    При помощи шаблонизатора mustache выведи заголовок каталога.
    Если выбран пункт проката, то в переменной pointInfo будет информация о выбранном пункте
    и в таком случае заголоввок должен быть таким <h3>Каталог велосипедов по адресу %адрес пункта%</h3>
    если пункт не выбран, то такой заголовок <h3>Каталог велосипедов</h3>
  -->
  {{#pointInfo}}
  <h3>Каталог велосипедов по адресу {{address}}</h3>
  {{/pointInfo}} {{^pointInfo}}
  <h3>Каталог велосипедов</h3>
  {{/pointInfo}}
  <div class="catalog_content_main">
    <div id="bikeList">
      <!-- Здесь необходимо отобразить карточки велосипедов -->
      <!-- <div class="bike">
        <div class="bike_image">
          <img src="../images/vel.jpg" alt="Велосипед 1" />
        </div>
        <p class="bike_description">
          Шоссейный велосипед Stark Peloton 700.1 2018
        </p>
        <p class="bike_price">Стоимость за час - 240 ₽</p>
        <button class="rent_button">Арендовать</button>
      </div>
      <div class="bike">
        <div class="bike_image">
          <img src="../images/vel.jpg" alt="Велосипед 1" />
        </div>
        <p class="bike_description">
          Шоссейный велосипед Stark Peloton 700.1 2018
        </p>
        <p class="bike_price">Стоимость за час - 240 ₽</p>
        <button class="rent_button">Арендовать</button>
      </div>
      <div class="bike">
        <div class="bike_image">
          <img src="../images/vel.jpg" alt="Велосипед 1" />
        </div>
        <p class="bike_description">
          Шоссейный велосипед Stark Peloton 700.1 2018
        </p>
        <p class="bike_price">Стоимость за час - 240 ₽</p>
        <button class="rent_button">Арендовать</button>
      </div>
      <div class="bike">
        <div class="bike_image">
          <img src="../images/vel.jpg" alt="Велосипед 1" />
        </div>
        <p class="bike_description">
          Шоссейный велосипед Stark Peloton 700.1 2018
        </p>
        <p class="bike_price">Стоимость за час - 240 ₽</p>
        <button class="rent_button">Арендовать</button>
      </div>-->
    </div>
    <div class="pickup_points">
      <h4>Пункты выдачи</h4>

      <ul class="address_list">
        {{#pointersList}} {{#isActive}}
        <li class="active"><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/isActive}} {{^isActive}}
        <li><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/isActive}} {{/pointersList}}
        <!--
          При помощи шаблонизатора mustache выведи пункты проката из массива pointersList
          А если у пункта есть флаг isActive, то в списке пометить его
          <li class="active"><a href="/catalog/ID пункта">Адрес пункта</a></li>
        -->
      </ul>
    </div>
  </div>

  <div id="loadMore" class="hidden">
    <button type="button">Загрузить ещё</button>
  </div>
</div>
<script src="../js/api.js"></script>
<script src="../js/catalog.js"></script>
{{> footer}}
