{{> header}}
<div class="index-content">
  <div class="background-image"></div>

  <div class="title">Сервис аренды велосипедов</div>
  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis
    illo aperiam voluptatibus at nobis impedit illum deserunt vero commodi
    voluptate optio excepturi quidem nostrum laboriosam hic quas voluptas, ut!
  </div>
  <div class="ref-block">
    <a href="catalog" class="rent-a-bike">Арендовать велосипед</a>
    <a class="find-store">Найти пункт выдачи</a>
  </div>
</div>

<!-- <a href="/catalog">Начни со страницы каталога</a> -->
{{> footer}}
